aiojobs
annotated-types
anyio
click
contourpy
cycler
dnspython
Faker
fastapi
fastapi-jsonrpc
fonttools
geographiclib
geopy
h11
idna
joblib
json-rpc
kiwisolver
llvmlite
matplotlib
numba
numpy
packaging
pandas
pickle-mixin
pillow
pip
pydantic
pydantic_core
pymongo
pyod
pyparsing
python-dateutil
pytz
river
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tqdm
typing_extensions
tzdata
uvicorn
opencv-python-headless
insightface
pymilvus
onnxruntime
pinecone